.tagListItem {
  position: relative;
  border-radius: var(--radii-m);

  &:hover {
    background-color: var(--theme3);

    .icon {
      visibility: hidden;
    }
    .icon-button-taglist {
      display: inline-flex;
    }
  }
}
