.otter-app-container {
  position: fixed;
  inset: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.otter-top-bar {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
  margin-left: auto;
  padding-x: var(--space-2xs);
  position: relative;
  z-index: var(--z-2);
  border-bottom: 1px solid var(--border);
  background-color: var(--background);

  @media (--bp2) {
    margin-left: var(--sidebar-width);
    width: auto;

    .link-logo {
      display: none;
    }
  }
}
.otter-primary-pane {
  flex: 1;
  display: flex;
  overflow: hidden;
  margin-top: calc(-1 * var(--header-height));
}

.otter-sidebar-pane {
  transition:
    opacity 0.25s var(--ease-in-out-3),
    transform 0.25s var(--ease-in-out-3);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: var(--space-xs);
  justify-content: space-between;
  width: 100%;
  max-width: var(--sidebar-width);
  opacity: 1;
  z-index: var(--z-2);
  padding: var(--space-xs);
  margin-top: var(--header-height);
  position: absolute;
  height: calc(100dvh - var(--header-height));
  transform: translateX(calc(-1 * var(--sidebar-width)));
  background-color: var(--theme2);
  overflow-y: auto;
  border-right: 1px solid var(--border);

  &.is-active {
    transform: translateX(0);

    + .otter-sidebar-pane-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (--bp2) {
    transform: translateX(0);
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100dvh;
    margin-top: 0;

    &.is-active {
      transform: translateX(0);
    }
  }
}

.otter-sidebar-pane-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  inset: 0;
  z-index: var(--z-1);
  background-color: var(--overlay);
  transition: opacity 0.25s var(--ease-in-out-3);

  @media (--bp2) {
    display: none;
  }
}

.otter-content-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: var(--header-height);

  @media (--bp2) {
    margin-inline-start: var(--sidebar-width);
  }
}

.otter-content-pane-inner {
  overflow-y: scroll;
  padding-top: var(--space-m);
  padding-bottom: var(--space-xl);
}
