.tagListItem {
  position: relative;

  &:hover {
    border-radius: var(--radii-m);
    background-color: var(--theme3);

    .icon {
      visibility: hidden;
    }
    .pinButton {
      display: inline-flex;
    }
  }
}

.pinButton {
  position: absolute;
  top: 50%;
  left: 7px;
  display: none;
  transform: translateY(-50%);
  z-index: 1;
  background-color: var(--theme8);
  color: var(--theme11);
  border-radius: var(--radii-full);
}
