@layer components {
  .focus {
    &:focus-visible {
      outline: var(--focus-ring);
      outline-offset: var(--focus-ring-offset);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
}
