@layer zui.components {
  .bookmark-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    flex-shrink: 0;
  }

  .bookmark-form-wrapper {
    flex-grow: 1;
    overflow-y: auto;
  }

  .bookmark-form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-sm);
  }

  .bookmark-form-col {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    label {
      min-height: 20px;
    }
  }

  .bookmark-form-image {
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    border: 1px solid var(--border);
    border-bottom: none;
    width: 100%;
    max-height: 450px;
    background-color: var(--theme3);
  }

  .bookmark-form-footer {
    margin-top: var(--space-md);
    padding: var(--space-sm);
    padding-bottom: max(var(--space-sm), env(safe-area-inset-bottom));
    background-color: var(--theme2);
    border-top: 1px solid var(--theme3);
    border-radius: var(--radius-xl);;
  }
}
