.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-2xs);
  position: relative;
  padding: var(--space-sm);
  border-radius: var(--radius-xl);
  transition: border 200ms var(--ease-in-out);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);

  &:hover,
  &:focus-within {
    border-color: oklch(from var(--color-border) calc(l + .1) c h);
  }
}
