.feed-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-2xs);
  position: relative;
  padding: var(--space-s);
  border-radius: var(--radii-l);
  transition: border 200ms var(--ease-in-out-1);
  background-color: var(--theme2);
  border: 1px solid var(--border);
  color: var(--theme10);

  &:hover,
  &:focus-within {
    border: 1px solid var(--theme4);
  }
}

.feed-simple-grid {
  display: grid;
  margin-top: var(--space-m);
  gap: var(--space-m);

  @media (--bp1) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.feed-item-small {
  gap: var(--space-2xs);
  position: relative;
  padding: var(--space-2xs);

  &:hover .feed-item-small-content {
    display: block;
  }
}

.feed-item-small-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  display: none;
}

.feed-item-cols {
  display: flex;
  gap: var(--space-xs);
  flex-direction: column;

  @media (--bp1) {
    flex-direction: row;
  }
}

.feed-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

.feed-avatar {
  border-radius: var(--radii-full);
  width: 50px;
  height: 50px;
}

.feed-image {
  border-radius: var(--radii-m);
  border: 1px solid var(--border);
  width: 150px;
  max-width: 150px;
  background-color: var(--theme3);
}

.feed-item-note {
  border-radius: var(--radii-m);
  background-color: var(--theme2);
  border: 1px solid var(--border);
  padding: var(--space-xs);
}

.feed-item-footer {
  display: grid;
  flex-grow: 0;
  gap: var(--space-3xs);
  font-size: var(--step--2);
}
