@layer base {
  @font-face {
    font-family: 'Mona Sans';
    src:
      url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-feature-settings:
      'calt' 1,
      'liga' 1,
      'rlig' 1,
      'rvrn' 1,
      'kern' 1,
      'rclt' 1;
    font-display: swap;
  }
}
