@layer base {
  body {
    font-family: var(--font-body);
    font-size: var(--step-0);
    color: var(--text);
  }
  blockquote {
    padding-inline-start: 1em;
    border-inline-start: 0.3em solid;
    font-style: italic;
    font-size: var(--step-1);
  }

  h1 {
    font-size: var(--step-4);
  }

  h2 {
    font-size: var(--step-3);
  }

  h3 {
    font-size: var(--step-2);
  }

  h4 {
    font-size: var(--step-1);
  }

  h1,
  h2,
  h3 {
    font-variation-settings:
      'wght' 900,
      'wdth' 125,
      'ital' 0;
    line-height: 1.1;
    text-wrap: balance;
    font-family: var(--font-headings);
    scroll-margin-top: 1em;
  }

  h4 {
    font-variation-settings:
      'wght' 500,
      'wdth' 125,
      'ital' 0;
    line-height: 1.1;
    text-wrap: balance;
    font-family: var(--font-headings);
    scroll-margin-top: 1em;
  }

  .flow > * {
    /* max-width: 65ch; */
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  :is(h1, h2, h3, blockquote) {
    --flow-space: var(--space-xl);
    color: var(--colour-text-bright);
  }

  :is(h1, h2, h3) + * {
    --flow-space: var(--space-xs);
  }

  a {
    --colour: var(--colour-text-bright);
    color: var(--colour);
    text-decoration: none;

    &:hover {
      --colour: var(--colour-accent);
    }
  }

  article {
    ul,
    ol {
      padding-inline-start: 1em;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }

    iframe {
      aspect-ratio: 16 / 9;
      height: auto;
      width: 100%;
    }

    img,
    iframe,
    video {
      border-radius: 0.5em;
      border: 3px solid;
    }
  }

  blockquote {
    max-width: 50ch;
  }

  .lede {
    font-size: var(--step-1);
    font-style: italic;
    max-width: 50ch;
    text-wrap: balance;
  }

  .lede + * {
    --flow-space: var(---space-m);
  }

  hr {
    border-top-color: var(--text);
    margin: var(--space-m);
  }
}
