@layer base {
  :root {
    /* Sizes */
    --sidebar-width: 250px;
    --header-height: 60px;
    --container: 1200px;

    /* Fonts */
    --font-sans: Mona Sans, system-ui, sans-serif;
    --font-mono: JetBrains Mono, SF Mono, Menlo, Monaco, Courier New, monospace;
    --font-headings: var(--font-sans);
    --font-body: var(--font-sans);

    /* Line heights */
    --line-height-none: 1;
    --line-height-tight: 1.25;
    --line-height-snug: 1.375;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.625;
    --line-height-loose: 2;
    --line-height-body: 1.625;
    --line-height-heading: 1.1;

    /* z-indices */
    --z-1: 100;
    --z-2: 200;
    --z-3: 300;
    --z-4: 400;
    --z-max: 999;

    /* Transitions */
    --transition: 0.2s var(--ease-in-out-4);

    /* Radii */
    --radii-none: 0;
    --radii-s: 0.125rem;
    --radii-default: 0.25rem;
    --radii-m: 0.3rem;
    --radii-l: 0.625rem;
    --radii-xl: 1rem;
    --radii-full: 9999px;
    --radii-round: 50%;
    --radii-pill: 9999px;

    --radius: 0.5rem; /* from shadcn */

    /* Colors */
    --theme1: var(--mauve-1);
    --theme2: var(--mauve-2);
    --theme3: var(--mauve-3);
    --theme4: var(--mauve-4);
    --theme5: var(--mauve-5);
    --theme6: var(--mauve-6);
    --theme7: var(--mauve-7);
    --theme8: var(--mauve-8);
    --theme9: var(--mauve-9);
    --theme10: var(--mauve-10);
    --theme11: var(--mauve-11);
    --theme12: var(--mauve-12);
    --accent1: var(--violet-1);
    --accent2: var(--violet-2);
    --accent3: var(--violet-3);
    --accent4: var(--violet-4);
    --accent5: var(--violet-5);
    --accent6: var(--violet-6);
    --accent7: var(--violet-7);
    --accent8: var(--violet-8);
    --accent9: var(--violet-9);
    --accent10: var(--violet-10);
    --accent11: var(--violet-11);
    --accent12: var(--violet-12);

    --text: var(--theme10);
    --foreground: var(--theme12);
    --background: var(--theme1);
    --focus: var(--accent7);
    --overlay: var(--overlayAlpha);
    --border: var(--theme3);

    /* Other */
    --flow-space: var(--space-m);
  }
}
