@import 'tailwindcss/base';

@import '../src/styles/colors.css';
@import '../src/styles/vars.css';
@import '../src/styles/media.css';
@import '../src/styles/easings.css';
@import '../src/styles/utopia.css';
@import '../src/styles/fonts.css';
@import '../src/styles/typography.css';
@import '../src/components/DropDownMenu.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: var(--background);
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::placeholder {
  color: var(--theme7);
}
