@import 'tailwindcss/base';

@import '../src/styles/colors.css';
@import '../src/styles/vars.css';
@import '../src/styles/media.css';
@import '../src/styles/easings.css';
@import '../src/styles/utopia.css';
@import '../src/styles/fonts.css';
@import '../src/styles/typography.css';
@import '../src/styles/focus.css';
@import '../src/components/DropDownMenu.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: var(--background);
  }

  .skip-link {
    left: 50%;
    position: absolute;
    transform: translateY(-150%);
    top: var(--header-height);
    margin-top: 1rem;
    transition: all 200ms ease-in-out;

    &:focus {
      transform: translateY(0%);
    }
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::placeholder {
  color: var(--theme7);
}

::selection {
  background-color: var(--accent10);
  color: var(--foreground);
}
