.button-ghost {
  @apply hover:bg-theme6 hover:text-theme10;

  &[aria-pressed='true'] {
    @apply bg-theme6 text-theme10;
  }
}
.button-cmdk {
  @extend .focus;
  background-color: var(--theme3);
  padding-x: var(--space-xs);
  color: var(--theme10);
  border: 1px solid var(--theme7);
  justify-content: flex-start;
  max-width: 380px;
  flex-grow: 1;
  position: relative;
  align-items: center;
  font-weight: 300;

  @media (--bp2) {
    margin-x: auto;
  }

  &:hover,
  &[aria-pressed='true'] {
    backgroundcolor: var(--theme3);
    bordercolor: var(--theme8);
  }
  &:active {
    box-shadow:
      inset 0 0 0 1px var(--theme4),
      0 0 0 1px var(--theme4);
  }
  &:focus {
    background-color: var(--theme7);
    box-shadow:
      inset 0 0 0 1px var(--theme4),
      0 0 0 1px var(--theme4);
  }
}
