:root {
  color-scheme: light dark;
}

body {
  width: 480px;
  height: 600px;
  margin: 0;
  padding: 0;

  font-family: system-ui;
  text-align: center;
}

/* Make the iframe fill the popup */
iframe#otter-bookmark {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
