.code-base {
  font-family: var(--font-mono);
  font-weight: normal;
  font-size: var(--step--1);
}

.pre {
  @extend .code-base;
  background-color: var(--theme5);
  border-radius: var(--radii-l);
  word-break: break-all;
  white-space: break-spaces;
  padding: var(--space-s);
  margin-y: var(--space-xs);
  color: var(--theme11);

  .code {
    &::before,
    &::after {
      content: '';
    }
  }
}

.code {
  &::before,
  &::after {
    content: '`';
  }
}
