/* @import '@radix-ui/colors/black-alpha.css'; */

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShowFromLeft {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes contentShowFromRight {
  from {
    opacity: 0;
    transform: translate(50%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes contentShowFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay);

  @media (--reducedMotionNoPref) {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.DialogContent {
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100dvh;
  overflow: auto;
  padding: var(--space-m);

  &:focus {
    outline: none;
  }
}

/* Placement */
.DialogContent--center {
  left: 0;
  @media (--bp2) {
    borderradius: var(--radii-default);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85vh;
    min-height: unset;
  }
  @media (--reducedMotionNoPref) {
    animation: contentShowFromCenter 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}
.DialogContent--right {
  right: 0;
  bottom: 0;
  @media (--reducedMotionNoPref) {
    animation: contentShowFromRight 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}
.DialogContent--left {
  left: 0;
  bottom: 0;
  @media (--reducedMotionNoPref) {
    animation: contentShowFromLeft 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

/* Size */
.DialogContent--small {
  @media (--bp2) {
    width: 90vw;
    max-width: var(--sidebar-width);
  }
}
.DialogContent--medium {
  @media (--bp2) {
    width: 90vw;
    max-width: 730px;
  }
}
.DialogContent--large {
  @media (--bp2) {
    width: 90vw;
    max-width: 1100px;
  }
}

.DialogTitle {
  margin: 0px;
  font-weight: 500px;
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5px;
}
