.feed-item-wrapper {
  display: grid;
  gap: var(--space-2xs);
  position: relative;
  padding: var(--space-s);
  border-radius: var(--radii-l);
  overflow: hidden;
  transition: all var(--ease);
  background-color: var(--theme2);
  border: 1px solid var(--theme4);
  color: var(--theme10);

  &:hover,
  &:focus-within {
    .feedItem__actions {
      visibility: visible;
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }

  @media (--fine) {
    .feedItem__actions {
      visibility: hidden;
      opacity: 0px;
    }
  }
}

.feed-avatar {
  border-radius: var(--radii-full);
  width: 50px;
  height: 50px;
}

.feed-image {
  border-radius: 0.5em;
  border: 3px solid;

  @media (--bp2) {
    max-width: 50%;
  }
}
