.heading {
  font-family: var(--font-sans);
  line-height: var(--line-height-heading);
  font-weight: 300;
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);
  color: var(--text);
  font-variation-settings: unset;
}

.heading-1 {
  font-size: var(--step-2);
  margin-top: var(--space-l);
}

.heading-date {
  font-size: var(--step--2);
  font-weight: 400;
  margin-y: var(--space-2xs);
  text-transform: uppercase;
  color: var(--theme10);
}

.heading-feed-title {
  align-items: flex-start;
  gap: var(--space-xs);
  font-size: var(--step-1);
  font-variation-settings:
    'wght' 700,
    'wdth' 125,
    'ital' 10;
  color: var(--theme11);
  margin-y: 0;
}
