.icon-control-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radii-full);
  font-size: var(--step--2);
  min-width: 80px;
  width: 10%;
  flex-basis: max-content;
}
.icon-control-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  --activeColor: var(--accent9);

  &:checked + .icon-control-tile {
    border-color: var(--activeColor);
    background-color: var(--accent3);
    /* color: var(--activeColor);
       svg {
      color: var(--activeColor);
    } */
    &::before {
      transform: scale(1);
      opacity: 1;
      background-color: var(--activeColor);
      bordercolor: var(--activeColor);
    }
  }
}

.icon-control-tile {
  position: relative;
  border: 2px solid var(--theme7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  grid-column-gap: var(--space-2xs);
  padding: var(--space-2xs);
  text-align: center;
  border-radius: var(--radii-m);
  --activeColor: var(--accent9);

  svg {
    width: 20px;
    height: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--activeColor);
    background-color: var(--background);
    border-radius: 50%;
    top: -0.25rem;
    right: -0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width='192'%20height='192'%20viewBox='0%200%20256%20256'%3E%3Cpolyline%20points='216%2072.005%20104%20184%2048%20128.005'%20fill='none'%20stroke='white'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='32'%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    border-color: var(--activeColor);
    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }
}
