.link-base {
  --color: inherit;
  --decoration-color: var(--theme9);
  display: inline-flex;
  flex-shrink: 0;
  outline: none;
  text-decoration-line: none;
  text-underline-offset: 3px;
  text-decoration-color: var(--decoration-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: inherit;
  cursor: pointer;
  transition: all var(--transition);
  color: var(--color);
  border-radius: var(--radii-s);

  &:hover {
    text-decoration-line: underline;
  }
}
.link-default {
  --color: inherit;
  --decoration-color: var(--theme9);
}
.link-accent {
  --color: var(--accent10);
  --text-decoration-color: var(--accent4);
}
.link-subtle {
  --color: var(--theme8);
  --text-decoration-color: var(--theme5);
}
.link-sidebar {
  --color: var(--theme10);
  font-size: var(--step--2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3xs) var(--space-2xs);
  column-gap: var(--space-m);
  border-radius: var(--radii-m);
  line-height: var(--line-height-tight);

  &:hover {
    color: var(--theme11);
    background-color: var(--theme5);
    text-decoration: none;
  }

  &.is-active {
    background-color: var(--accent6);
    --color: var(--accent11);

    &:hover {
      background-color: var(--accent7);
      --color: var(--accent11);
    }
  }
}

.link-sidebar-inner {
  display: flex;
  align-items: flex-end;
  gap: var(--space-3xs);
}

.link-logo {
  --color: var(--accent10);
  font-size: var(--step-1);
  font-variation-settings:
    'wght' 900,
    'wdth' 125,
    'ital' 10;
  gap: var(--space-xs);
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  .emoji {
    display: none;
  }

  @media (--bp1) {
    font-size: var(--step-2);
    .emoji {
      display: block;
    }
  }
}

.link-add {
  background-color: var(--theme4);
  color: var(--theme11);
  border-radius: var(--radii-pill);
  padding-x: var(--space-2xs);
  padding-y: var(--space-3xs);
  font-size: var(--step--2);
  fontfamily: var(--font-mono);
  text-transform: uppercase;
  align-items: center;
  gap: var(--space-3xs);

  &:hover {
    text-decoration: none;
    background-color: var(--theme6);
    color: var(--theme12);
  }
}

.link-feed-title {
  align-items: flex-start;
  gap: var(--space-xs);
  font-size: var(--step-0);
  font-variation-settings:
    'wght' 500,
    'wdth' 105,
    'ital' 0;
  color: var(--theme11);
}

.link-fab {
  --color: var(--theme12);
  position: fixed;
  bottom: var(--space-s);
  right: var(--space-s);
  z-index: var(--z-max);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: var(--accent8);
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  box-shadow: 0 2px 10px var(--theme3);
  cursor: pointer;

  &:hover {
    background-color: var(--accent6);
    color: var(--color);
  }
}

.link-tag {
  border: 1px solid var(--theme5);
  border-radius: var(--radii-pill);
  padding-x: var(--space-2xs);
  background-color: var(--theme3);

  &:hover {
    border-color: var(--theme6);
    background-color: var(--theme4);
    text-decoration-line: none;
  }
}
